--find-links=https://girder.github.io/large_image_wheels GDAL
# cartopy
folium==0.14.0
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
owslib
palettable
plotly
streamlit==1.21.0
streamlit-bokeh-events
streamlit-folium
streamlit-keplergl
tropycal
